.treina-container{
    background-color: #fff7f5;
}
.treina-container h4{
    color: #ff5929;
    margin-bottom: 1.5rem;
}
.treina-container h1{
    font-weight: bold;
}
.treina-container h1 span{
    border-bottom: 5px solid #ff5929;
}
.treina-container p{
    color: rgb(66, 63, 63);
    font-size: 18px;
}
.treina-container p span{
    color: #ff5929;
}
.treina-container .treina-btn a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: #ff5929;
    padding: 10px 20px;
    border-radius: 5px;
}
.treinaImage img{
    max-width: 100%;
}